*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}

.container{
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1.5px;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab-container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.weather-container{
    margin-block: 4rem;
}

.grant-locatin-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    all: unset;
    font-size: 0.85rem;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
}

.grant-locatin-container img{
    margin-bottom: 2rem;
}

.grant-locatin-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}

.grant-locatin-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 350;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.name p{
    font-size: 2rem;
    font-weight: 300;
}

.name img{
    width: 30px;
    height: 30px;
}

[data-weatherDesc]{
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: capitalize;
}

[data-weatherIcon]{
    width: 90px;
    height: 90px;
}

[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}

.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.parameter{
    width: 30%;
    max-width: 200px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 5px;
    padding: 1rem 2.6rem;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    align-items: center;
}

.parameter img{
    width: 50px;
    height: 50px;
}

.parameter p:first-of-type{
    font-size: 1.5rem;
    font-weight: 350;
}

.parameter p:last-of-type{
    font-size: 1.5rem;
    font-weight: 200;
}

.form-container{
    display: none;
    justify-content: space-between;
    gap: 0 10px;
    align-items: center;
    margin-bottom: 2rem;
}

.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.not-found{
    display: none;
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
}

.current-tab{
    background-color: rgba(219,226,239,0.5);
    border-radius: 4px;
}

.active{
    display: flex;
}


@media only screen and (max-width: 600px) {
    .parameter-container{
        flex-direction: column;
    }
    .parameter{
        width: 300px;
    }
}